* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.503);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.red {
  font-weight: 700;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #ff4136;
}

.modal {
  width: 420px;
  height: 565px;
  background: url(/img/modal.png) no-repeat center 100%/cover, #30373F;
  color: white;
  position: relative;
  padding: 31px;
  border-radius: 12px;
}
.modal-close {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #d9d9d9;
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-form-btn {
  align-self: center;
}
.modal-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal-form-box1 {
  display: flex;
}
.modal-form-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.modal-form-box-input {
  border-radius: 6px;
  width: 406px;
  height: 44px;
  background: #30373f;
}
.modal-form-box-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  color: #d9d9d9;
}
.modal-form-box-descr {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.modal-form-box-price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.modal-form-agree {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
}
.modal-form-agree-check {
  border-radius: 6px;
  width: 25px;
  height: 24px;
  background: #30373f;
}
.modal-form-btn {
  border-radius: 6px;
  width: 406px;
  background: #8856d9;
  height: 39px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
}
.modal .unique {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal .unique-input {
  width: 190px;
}
.modal-close {
  font-size: 36px;
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
}
.modal-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #8856d9;
}
.modal-subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  color: #fff;
  text-align: center;
  font-family: var(--font-family);
}
.modal-form-box {
  width: 406px;
  height: 63px;
}
.modal-form-box-input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #d9d9d9;
}
.modal-form-box-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

li {
  list-style: none;
}

:root {
  --font-family: "Rubik", sans-serif;
  --second-family: "Inter", sans-serif;
}

.main-button {
  background: #8856d9;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

.main-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  color: #fff;
}

.page-wrapper {
  background-color: #1C2023;
}

.nav-left {
  display: flex;
  align-items: center;
}
.nav-left-burger {
  margin-left: 288px;
  width: 25px;
  height: 16px;
  cursor: pointer;
}
.nav-left-burger-line {
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  background-color: white;
}
.nav-left-list {
  display: flex;
  transform: translateX(-200%);
  opacity: 0;
  transition: all 0.3s;
}
.nav-left-list.show {
  transform: translateX(0);
  opacity: 1;
}
.nav-left-list-iten {
  margin-left: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 193%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.nav-left-list-iten-pur {
  color: #8856d9;
}

.header {
  position: relative;
}
.header-wrapper {
  position: absolute;
  top: 43px;
}

.hero {
  padding: 185px 0;
  background-image: linear-gradient(to right, #1C2023, rgba(28, 32, 35, 0)), url(./img/header.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}
.hero-title {
  margin-left: 274px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 100px;
  line-height: 100%;
  color: #fff;
  width: 538px;
  height: 199px;
  margin-top: 112px;
}
.hero-desc {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #a9c7c7;
  width: 543px;
  height: 74px;
  margin-left: 281px;
  margin-top: 27px;
}
.hero-buy {
  border-radius: 6px;
  width: 145px;
  height: 41px;
  margin-left: 281px;
  margin-top: 49px;
}

.editions-wrapper {
  margin-left: 410px;
  margin-top: 241px;
}
.editions-title {
  justify-content: center;
  display: flex;
  margin-bottom: 32px;
  margin-right: 888px;
}
.editions-card {
  display: flex;
}
.editions-card-item {
  background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
  margin-right: 16px;
  border-radius: 6px;
  width: 350px;
  height: 458px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.editions-card-item-poster {
  border-radius: 6px;
  width: 316px;
  height: 172px;
  width: 100%;
  margin-bottom: 10px;
}
.editions-card-item-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  justify-content: center;
  display: flex;
  margin-bottom: 15px;
}
.editions-card-item-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #a9c7c7;
  margin-bottom: 32px;
  justify-content: center;
  display: flex;
}
.editions-card-item-settings {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #8c96a0;
  margin-bottom: 12px;
}
.editions-card-item-price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 19px;
  color: #fff;
  justify-content: flex-end;
  display: flex;
}
.editions-card-item-buy {
  border-radius: 6px;
  font-size: 13px;
  display: flex;
  align-self: flex-end;
  text-align: center;
  padding: 8px 20px;
}

.DualSense-wrapper {
  margin-top: 53px;
  margin-left: 487px;
}
.DualSense-title {
  margin-bottom: 12px;
}
.DualSense-container {
  width: 917px;
  height: 309px;
  display: flex;
  align-items: center;
}
.DualSense-container-left {
  margin-top: 45px;
}
.DualSense-container-left-desc {
  margin-bottom: 23px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #a9c7c7;
  width: 425px;
  height: 54px;
}
.DualSense-container-left-desc .violet {
  font-weight: 700;
  color: #8856d9;
}
.DualSense-container-left-desc .red {
  font-weight: 700;
  color: #ff4136;
}
.DualSense-container-left-buy {
  display: flex;
}
.DualSense-container-left-buy-price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  margin-top: 5px;
}
.DualSense-container-left-buy-btn {
  border-radius: 6px;
  width: 274px;
  height: 46px;
  background: #ff4136;
  margin-left: 33px;
}
.DualSense-container-right-img {
  margin-left: 152px;
}

.about-wrapper {
  margin-top: 100px;
}
.about-title {
  display: flex;
  margin-bottom: 29px;
  justify-content: center;
}
.about-container {
  padding-top: 400px;
  padding-bottom: 400px;
  background: url(/img/about-bg.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-container-play {
  background: #30373f;
  width: 93px;
  height: 33px;
  border-radius: 6px;
}
.about-container-title {
  font-size: 50px;
}

.explore-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explore-title {
  margin-top: 90px;
}
.explore-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explore-card-price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
.explore-card-title {
  font-size: 18px;
  margin-top: 42px;
  margin-bottom: 10px;
}
.explore-card-switch {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  margin-top: 21px;
}
.explore-card-switch-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
}
.explore-card-switch-box {
  width: 54px;
  height: 26px;
  background-color: #30373F;
  border-radius: 12px;
  display: flex;
  align-items: center;
  z-index: 10;
}
.explore-card-switch-box-circle {
  border-radius: 100%;
  width: 18px;
  height: 18px;
  background-color: #8856d9;
  margin-left: 4px;
}
.explore-card-container {
  display: flex;
}
.explore-card-container-poster {
  position: relative;
  bottom: 100px;
  left: 50px;
}
.explore-card-container-settings {
  margin-top: 57px;
}
.explore-card-container-settings-item {
  font-size: 15px;
  color: #8856D9;
  margin-bottom: 15px;
  font-weight: 400;
}
.explore-card-container-settings-buy {
  padding: 7px 18px;
  border-radius: 6px;
  background-color: #ff4136;
}

.PC {
  color: #fff;
}

.PS {
  color: #fff;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news-title {
  text-align: center;
  color: #fff;
  margin-bottom: 31px;
}
.news-wrapper {
  max-width: 100% !important;
}
.news-wrapper-box {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.news-wrapper-box-card {
  width: 620px;
  padding: 20px;
  background: linear-gradient(180deg, #30373f 22.4%, #141615 100%);
  color: #fff;
}
.news-wrapper-box-card-title {
  margin: 7px 0 15px 0;
  text-transform: uppercase;
}
.news-wrapper-box-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.news-wrapper-box-card-container-data {
  height: 248px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-wrapper-box-card-container-data-read {
  align-self: flex-end;
  margin-top: 9px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  padding: 7px 31px;
  border-radius: 6px;
  background: #8C96A0;
  cursor: pointer;
  border: none;
  color: white;
}
.news-wrapper-box-card-container-title {
  color: #8856D9;
}
.news-wrapper-box-card-container-date {
  color: #8C96A0;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq-title {
  text-align: center;
}
.faq-card {
  width: 903px;
  height: 237px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.faq-card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.faq-card-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-card-item-top-visible {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  margin-top: 36px;
  margin-bottom: 13px;
  align-self: center;
  display: flex;
}
.faq-card-item-top-x {
  border-radius: 6px;
  width: 30px;
  height: 30px;
  background: #8c96a0;
  cursor: pointer;
}
.faq-card-item-top-x-x {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #fff;
  transform: rotate(45deg);
}
.faq-card-item-hr {
  background-color: #8856D9;
  width: 903px;
  height: 2px;
  display: flex;
  align-self: center;
  margin-bottom: 13px;
}
.faq-card-item-unvisible {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  width: 100%;
  align-self: center;
}
.faq-text {
  display: flex;
  margin-left: 500px;
  margin-top: 156px;
}
.faq-text-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 169%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 22px;
}
.faq-text-language {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 193%;
  text-transform: uppercase;
  color: #8c96a0;
  margin-left: 233px;
}
.faq-info {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  align-self: center;
  color: #8c96a0;
  width: 904px;
  margin-top: 50px;
}
.faq-logo {
  width: 46px;
  height: 35px;
  align-self: center;
}

.data {
  color: #ff4136;
}

.PSn {
  color: #fff;
}

.PCn {
  color: #fff;
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
}/*# sourceMappingURL=style.css.map */