@import './reset';

// modal start
.overlay {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.503);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.red {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #ff4136;
}

.modal {
    width: 420px;
    height: 565px;
    background: url(/img/modal.png) no-repeat center 100% / cover, #30373F;

    color: white;
    position: relative;
    padding: 31px;
    border-radius: 12px;

    &-close {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #d9d9d9;
    }

    &-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-btn {
            align-self: center;
        }

        &-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &-box1 {
            display: flex;
        }

        &-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            &-input {
                border-radius: 6px;
                width: 406px;
                height: 44px;
                background: #30373f;
            }

            &-desc {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 10px;
                color: #d9d9d9;
            }

            &-descr {
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 14px;
                text-align: center;
                color: #fff;
            }

            &-price {
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 20px;
                text-align: center;
                color: #fff;
            }
        }

        &-agree {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 10px;
            text-transform: uppercase;
            color: #fff;

            &-check {
                border-radius: 6px;
                width: 25px;
                height: 24px;
                background: #30373f;
            }
        }

        &-btn {
            border-radius: 6px;
            width: 406px;
            background: #8856d9;
            height: 39px;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 15px;
            text-transform: uppercase;
            color: #fff;
        }
    }

    .unique {
        &-input {
            width: 190px;
        }

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-close {
        font-size: 36px;
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 10px;
    }

    &-title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #8856d9;
    }

    &-subtitle {
        font-weight: 500;
        font-size: 15px;
        line-height: 167%;
        color: #fff;
        text-align: center;
        font-family: var(--font-family);
    }

    &-form {
        &-box {
            width: 406px;
            height: 63px;

            &-input {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 12px;
                text-transform: uppercase;
                text-align: center;
                color: #d9d9d9;
            }

            &-title {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 10px;
                text-transform: uppercase;
                text-align: center;
                color: #fff;
            }

        }
    }
}

// modal end
li {
    list-style: none;
}

:root {
    --font-family: "Rubik", sans-serif;
    --second-family: "Inter", sans-serif;
}

.main-button {
    background: #8856d9;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.main-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    color: #fff;

}

.page-wrapper {
    background-color: #1C2023;
}

.nav {
    &-left {
        display: flex;
        align-items: center;

        &-burger {
            margin-left: 288px;
            width: 25px;
            height: 16px;
            cursor: pointer;

            &-line {
                width: 25px;
                height: 2px;
                margin-bottom: 5px;
                background-color: white;
            }
        }

        &-list {
            display: flex;
            transform: translateX(-200%);
            opacity: 0;
            transition: all .3s;

            &.show {
                transform: translateX(0);
                opacity: 1;
            }

            &-iten {
                margin-left: 30px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 193%;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.5);

                &-pur {
                    color: #8856d9;
                }
            }
        }
    }
}

.header {
    position: relative;

    &-wrapper {
        position: absolute;
        top: 43px;
    }
}

.hero {
    padding: 185px 0;

    background-image: linear-gradient(to right, #1C2023, #1c202300), url(./img/header.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;



    &-title {
        margin-left: 274px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 100px;
        line-height: 100%;
        color: #fff;
        width: 538px;
        height: 199px;
        margin-top: 112px;
    }

    &-desc {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #a9c7c7;
        width: 543px;
        height: 74px;
        margin-left: 281px;
        margin-top: 27px;
    }

    &-buy {
        border-radius: 6px;
        width: 145px;
        height: 41px;
        margin-left: 281px;
        margin-top: 49px;
    }
}

.editions {
    &-wrapper {
        margin-left: 410px;
        margin-top: 241px;

    }

    &-title {
        justify-content: center;
        display: flex;
        margin-bottom: 32px;
        margin-right: 888px;
    }

    &-card {
        display: flex;

        &-item {
            background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
            margin-right: 16px;
            border-radius: 6px;
            width: 350px;
            height: 458px;
            padding: 20px;
            display: flex;
            flex-direction: column;

            &-poster {
                border-radius: 6px;
                width: 316px;
                height: 172px;
                width: 100%;
                margin-bottom: 10px;
            }

            &-title {
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 16px;
                color: #fff;
                justify-content: center;
                display: flex;
                margin-bottom: 15px;
            }

            &-subtitle {
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 16px;
                color: #a9c7c7;
                margin-bottom: 32px;
                justify-content: center;
                display: flex;
            }

            &-settings {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                color: #8c96a0;
                margin-bottom: 12px;
            }

            &-price {
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 19px;
                color: #fff;
                justify-content: flex-end;
                display: flex;
            }

            &-buy {
                border-radius: 6px;

                font-size: 13px;
                display: flex;
                align-self: flex-end;
                text-align: center;
                padding: 8px 20px;
            }
        }
    }
}

.DualSense {
    &-wrapper {
        margin-top: 53px;
        margin-left: 487px;
    }

    &-title {
        margin-bottom: 12px;
    }

    &-container {
        width: 917px;
        height: 309px;
        display: flex;
        align-items: center;

        &-left {
            margin-top: 45px;

            &-desc {
                margin-bottom: 23px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #a9c7c7;
                width: 425px;
                height: 54px;

                .violet {
                    font-weight: 700;
                    color: #8856d9;
                }

                .red {
                    font-weight: 700;
                    color: #ff4136;
                }
            }

            &-buy {
                display: flex;

                &-price {
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 30px;
                    color: #fff;
                    margin-top: 5px;

                }



                &-btn {
                    border-radius: 6px;
                    width: 274px;
                    height: 46px;
                    background: #ff4136;
                    margin-left: 33px;
                }
            }
        }

        &-right {
            &-img {
                margin-left: 152px;

            }
        }
    }

}

.about {
    &-wrapper {
        margin-top: 100px;

    }

    &-title {
        display: flex;
        margin-bottom: 29px;
        justify-content: center;
    }

    &-container {
        padding-top: 400px;
        padding-bottom: 400px;
        background: url(/img/about-bg.png) no-repeat center/cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-play {
            background: #30373f;
            width: 93px;
            height: 33px;
            border-radius: 6px;
        }

        &-title {
            font-size: 50px;
        }
    }
}

.explore {
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-title {
        margin-top: 90px;
    }

    &-card {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-price {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 20px;
            color: #fff;
        }

        &-title {
            font-size: 18px;
            margin-top: 42px;
            margin-bottom: 10px;
        }

        &-switch {
            display: flex;
            align-items: center;
            margin-bottom: 21px;
            margin-top: 21px;

            &-title {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;

            }

            &-box {
                width: 54px;
                height: 26px;
                background-color: #30373F;
                border-radius: 12px;
                display: flex;
                align-items: center;
                z-index: 10;
                &-circle {
                    border-radius: 100%;
                    width: 18px;
                    height: 18px;
                    background-color: #8856d9;
                    margin-left: 4px;
                }
            }
        }

        &-container {
            display: flex;

            &-poster {
                position: relative;
                bottom: 100px;
                left: 50px;
            }

            &-settings {
                margin-top: 57px;

                &-item {
                    font-size: 15px;
                    color: #8856D9;
                    margin-bottom: 15px;
                    font-weight: 400;
                }

                &-buy {
                    padding: 7px 18px;
                    border-radius: 6px;
                    background-color: #ff4136;
                }
            }

        }
    }
}

.PC {
    color: #fff;
}

.PS {
    color: #fff;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
        text-align: center;
        color: #fff;
        margin-bottom: 31px;
    }

    &-wrapper {
        max-width: 100% !important;

        &-box {
            display: flex;
            align-items: center;
            column-gap: 20px;

            &-card {
                width: 620px;
                padding: 20px;
                background: linear-gradient(180deg, #30373f 22.4%, #141615 100%);
                color: #fff;

                &-title {
                    margin: 7px 0 15px 0;
                    text-transform: uppercase;
                }

                &-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    column-gap: 24px;


                    &-data {
                        height: 248px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        &-read {
                            align-self: flex-end;
                            margin-top: 9px;
                            font-weight: 500;
                            text-transform: uppercase;
                            font-size: 13px;
                            padding: 7px 31px;
                            border-radius: 6px;
                            background: #8C96A0;
                            cursor: pointer;
                            border: none;
                            color: white;
                        }
                    }

                    &-title {
                        color: #8856D9;
                        ;
                    }

                    &-date {
                        color: #8C96A0;
                    }
                }
            }
        }
    }
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
        text-align: center;
    }

    &-card {
        width: 903px;
        height: 237px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-visible {
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 17px;
                    text-align: center;
                    color: #fff;
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 36px;
                    margin-bottom: 13px;
                    align-self: center;
                    display: flex;
                }

                &-x {
                    border-radius: 6px;
                    width: 30px;
                    height: 30px;
                    background: #8c96a0;
                    cursor: pointer;

                    &-x {
                        font-family: var(--font-family);
                        font-weight: 600;
                        font-size: 20px;
                        text-align: center;
                        color: #fff;
                        transform: rotate(45deg);
                    }
                }
            }


            &-hr {
                background-color: #8856D9;
                width: 903px;
                height: 2px;
                display: flex;
                align-self: center;
                margin-bottom: 13px;
            }

            &-unvisible {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                color: #fff;
                width: 100%;
                align-self: center;
            }
        }
    }

    &-text {
        display: flex;
        margin-left: 500px;
        margin-top: 156px;

        &-item {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 169%;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);
            margin-left: 22px;
        }

        &-language {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 14px;
            line-height: 193%;
            text-transform: uppercase;
            color: #8c96a0;
            margin-left: 233px;
        }
    }



    &-info {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        align-self: center;
        color: #8c96a0;
        width: 904px;
        margin-top: 50px;
    }

    &-logo {
        width: 46px;
        height: 35px;
        align-self: center;
    }
}

.data {
    color: #ff4136;
}
.PSn{
    color: #fff;
    
}
.PCn{
    color: #fff;
    
}
.hidden {
    display: none !important;
}
.flex {
    display: flex;
}