@import './reset';

li {
    list-style: none;
}

:root {
    --font-family: "Rubik", sans-serif;
    --second-family: "Inter", sans-serif;
}

.main-button {
    background: #8856d9;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.main-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    color: #fff;
}

.page-wrapper {
    background-color: #1C2023;
}

.nav {
    &-left {
        display: flex;
        align-items: center;

        &-burger {
            margin-left: 288px;
            width: 25px;
            height: 16px;
            cursor: pointer;

            &-line {
                width: 25px;
                height: 2px;
                margin-bottom: 5px;
                background-color: white;
            }
        }

        &-list {
            display: flex;
            transform: translateX(-200%);
            opacity: 0;
            transition: all .3s;

            &.show {
                transform: translateX(0);
                opacity: 1;
            }

            &-iten {
                margin-left: 30px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 193%;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.5);

                &-pur {
                    color: #8856d9;
                }
            }
        }
    }
}

.header {
    position: relative;

    &-wrapper {
        position: absolute;
        top: 43px;
    }
}

.hero {
    padding: 185px 0;

    background-image: linear-gradient(to right, #1C2023, #1c202300), url(./img/header.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;

    &-title {
        margin-left: 274px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 100px;
        line-height: 100%;
        color: #fff;
        width: 538px;
        height: 199px;
        margin-top: 112px;
    }

    &-desc {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #a9c7c7;
        width: 543px;
        height: 74px;
        margin-left: 281px;
        margin-top: 27px;
    }

    &-buy {
        border-radius: 6px;
        width: 145px;
        height: 41px;
        margin-left: 281px;
        margin-top: 49px;
    }
}

.editions {
    &-wrapper {
        margin-left: 410px;
        margin-top: 241px;

    }

    &-title {
        justify-content: center;
        display: flex;
        margin-bottom: 32px;
        margin-right: 888px;
    }

    &-card {
        display: flex;

        &-item {
            background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
            margin-right: 16px;
            border-radius: 6px;
            width: 350px;
            height: 458px;
            padding: 20px;
            display: flex;
            flex-direction: column;

            &-poster {
                border-radius: 6px;
                width: 316px;
                height: 172px;
                width: 100%;
                margin-bottom: 10px;
            }

            &-title {
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 16px;
                color: #fff;
                justify-content: center;
                display: flex;
                margin-bottom: 15px;
            }

            &-subtitle {
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 16px;
                color: #a9c7c7;
                margin-bottom: 32px;
                justify-content: center;
                display: flex;
            }

            &-settings {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                color: #8c96a0;
                margin-bottom: 12px;
            }

            &-price {
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 19px;
                color: #fff;
                justify-content: flex-end;
                display: flex;
            }

            &-buy {
                border-radius: 6px;

                font-size: 13px;
                display: flex;
                align-self: flex-end;
                text-align: center;
                padding: 8px 20px;
            }
        }
    }
}

.DualSense {
    &-wrapper {
        margin-top: 53px;
        margin-left: 487px;
    }

    &-title {
        margin-bottom: 12px;
    }

    &-container {
        width: 917px;
        height: 309px;
        display: flex;
        align-items: center;

        &-left {
            margin-top: 45px;

            &-desc {
                margin-bottom: 23px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #a9c7c7;
                width: 425px;
                height: 54px;

                .violet {
                    font-weight: 700;
                    color: #8856d9;
                }

                .red {
                    font-weight: 700;
                    color: #ff4136;
                }
            }

            &-buy {
                display: flex;

                &-price {
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 30px;
                    color: #fff;
                    margin-top: 5px;

                }

                &-btn {
                    border-radius: 6px;
                    width: 274px;
                    height: 46px;
                    background: #ff4136;
                    margin-left: 33px;
                }
            }
        }

        &-right {
            &-img {
                margin-left: 152px;

            }
        }
    }

}

.about {
    &-wrapper {
        margin-top: 100px;

    }

    &-title {
        display: flex;
        margin-bottom: 29px;
        justify-content: center;
    }

    &-container {
        padding-top: 400px;
        padding-bottom: 400px;
        background: url(/img/about-bg.png) no-repeat center/cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-play {
            background: #30373f;
            width: 93px;
            height: 33px;
            border-radius: 6px;
        }

        &-title {
            font-size: 50px;
        }
    }
}

.explore {
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-card {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-price {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 20px;
            color: #fff;
        }

        &-title {
            font-size: 18px;
            margin-top: 42px;
            margin-bottom: 10px;
        }

        &-switch {
            display: flex;
            align-items: center;

            &-title {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;

            }

            &-box {
                width: 54px;
                height: 26px;
                background-color: #30373F;
                border-radius: 12px;
                display: flex;
                align-items: center;

                &-circle {
                    border-radius: 100%;
                    width: 18px;
                    height: 18px;
                    background-color: #8856d9;
                    margin-left: 4px;
                }
            }
        }

        &-container {
            display: flex;

            &-poster {
                position: relative;
                bottom: 100px;
                left: 50px;
            }

            &-settings {
                margin-top: 57px;

                &-item {
                    font-size: 15px;
                    color: #8856D9;
                    margin-bottom: 15px;
                    font-weight: 400;
                }

                &-buy {
                    padding: 7px 18px;
                    border-radius: 6px;
                    background-color: #ff4136;
                }
            }

        }
    }
}

.PC {
    color: #fff;
}

.PS {
    color: #fff;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
        text-align: center;
    }

    &-card {

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-visible {
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 17px;
                text-align: center;
                color: #fff;
                display: flex;
                justify-content: flex-start;
                margin-top: 36px;
                margin-bottom: 13px;
                align-self: center;
                display: flex;
            }

            &-hr {
                background-color: #8856D9;
                width: 903px;
                height: 2px;
                display: flex;
                align-self: center;
            }

            &-unvisible {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                color: #fff;
                display: flex;
                align-self: center;
            }
        }
    }

    &-text {
        display: flex;
        margin-left: 500px;
        margin-top: 156px;

        &-item {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 169%;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);
            margin-left: 22px;
        }

        &-language {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 14px;
            line-height: 193%;
            text-transform: uppercase;
            color: #8c96a0;
            margin-left: 233px;
        }
    }

    &-info {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        align-self: center;
        color: #8c96a0;
        width: 904px;
        margin-top: 50px;
    }
    &-logo{
        width: 46px;
        height: 35px;
        align-self: center;
    }
}

.data {
    color: #ff4136;
}